@model PasswordRepository.Models.RegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <title>Frontend Bootcamp</title>
    <link href="~/Style/StyleSheetRegistration.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link" id="navhome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link" id="navteam">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link" id="navcontact">CONTACT</a>
                    </li>
                    <!--profile button (split) -->
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary btn-lg rounded-0" type="button" id="profilebtn">
                            PROWLER
                        </button>
                        <button type="button" class="rounded-0 btn btn-lg btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </ul>
            </div>

        </div>
    </nav>

    <div id="outer">
        <!--Content-->
        <section class="text-light p-5">
            <div class="container d-flex justify-content-center" id="maincontainer">
                <div class="justify-content-center" id="content">
                    <!--Title-->
                    <div class="d-flex justify-content-center" id="title" style="display:block; white-space:nowrap; margin-left:auto; margin-right:auto;">
                        <h1 align="center">
                            / PASSWORD /
                            <br />
                            REPOSITORY
                        </h1>

                    </div>
                    <!--Add button-->
                    <div class="d-flex justify-content-center">
                        <div style="margin-top:25px" class="d-flex justify-content-center col-xl-5 col-lg-12 mb-2 ">
                            <button type="button" class="btn btn-outline-secondary rounded-0" data-bs-toggle="modal" data-bs-target="#additemmodal">
                                ADD ITEM +
                            </button>
                            <div class="modal fade" id="additemmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            hey
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Form-->
                    @using (@Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="registration-form container d-flex justify-content-center" style="text-align:center;">
                            <div class="d-flex justify-content-center w-100">
                                <div class="form-floating" style="margin-top: 3px; margin-right:5px; width: 200px;">
                                    @Html.TextBoxFor(Model => Model.FIRST_NAME, new { @class = "form-control rounded-0 w-100", id = "floatingFirstName", placeholder = "First Name", required = "required", })
                                    <label for="floatingFirstName">First Name</label>
                                </div>
                                <div class="form-floating" style="margin-top: 3px; margin-left: 5px; width: 200px;">
                                    @Html.TextBoxFor(Model => Model.LAST_NAME, new { @class = "form-control rounded-0 w-100", id = "floatingLastName", placeholder = "First Name", required = "required", })
                                    <label for="floatingLastName">Last Name</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center w-100">
                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                    @Html.TextBoxFor(Model => Model.EMAIL, new { @class = "form-control rounded-0 w-100", id = "floatingEmail", type = "email", placeholder = "Email", required = "required", })
                                    <label for="floatingEmail">Email</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center w-100">
                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                    @Html.TextBoxFor(Model => Model.USERNAME, new { @class = "form-control rounded-0 w-100", id = "floatingUsername", placeholder = "Password", required = "required", })
                                    <label for="floatingUsername">Username</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center w-100">
                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                    @Html.PasswordFor(Model => Model.PASSWORD, new { @class = "form-control rounded-0 w-100", id = "floatingPassword", placeholder = "Password", required = "required" })
                                    <label for="floatingPassword">Password</label>
                                    <span>
                                        <!--Eye icon-->
                                        <img src="~/Elements/eye-slash.svg" id="eyeicon" />
                                    </span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center w-100">
                                <div class="form-floating" style="margin-top: 10px; width:410px;">
                                    @Html.PasswordFor(Model => Model.REPEAT_PASSWORD, new { @class = "form-control rounded-0 w-100", id = "floatingRePassword", placeholder = "Re-enter Password", required = "required" })
                                    <label for="floatingRePassword">Re-enter Password</label>
                                </div>
                                <script type="text/javascript">
                                    let eyeicon = document.getElementById('eyeicon');
                                    var form = document.getElementById('floatingPassword');
                                    var form2 = document.getElementById('floatingRePassword');

                                    eyeicon.style.display = "none";

                                    form.addEventListener("focusin", function () {
                                        eyeicon.style.display = "block";
                                    });

                                    form2.addEventListener("focusin", function () {
                                        eyeicon.style.display = "block";
                                    });

                                    form.addEventListener("focusout", function () {
                                        if (Event.relatedTarget !== eyeicon) {
                                            eyeicon.style.display = "none";
                                        }
                                    });
                                    form2.addEventListener("focusout", function () {
                                        if (Event.relatedTarget !== eyeicon) {
                                            eyeicon.style.display = "none";
                                        }
                                    });

                                    eyeicon.addEventListener("mousedown", function (event) {
                                        event.preventDefault(); // prevent default action to avoid losing focus
                                        togglePW();
                                    });

                                    function togglePW() {
                                        var show = document.getElementById('floatingPassword');
                                        var show2 = document.getElementById('floatingRePassword');
                                        if (show.type == 'password') {
                                            show.type = 'text';
                                            show2.type = 'text';
                                            eyeicon.src = "/Elements/eye.svg"
                                        }
                                        else {
                                            show.type = 'password'
                                            show2.type = 'password';
                                            eyeicon.src = "/Elements/eye-slash.svg"
                                        }
                                        show.focus();
                                    }</script>
                            </div>
                        </div>
                        <!--Terms and Conditions checkbox-->
                        <div class="d-flex justify-content-center">
                            <div class="form-check" style="text-align:left;margin-top:20px; width:410px;">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" style="text-align: center">
                                <label class="form-check-label" for="exampleCheck1">I agree to the Terms and Conditions</label>
                            </div>
                        </div>
                        <!--Register button-->
                        <div class="d-flex justify-content-center">
                            <div style="margin-top:25px" class="d-flex justify-content-center col-xl-5 col-lg-12 mb-2 ">
                                <button class="btn btn-outline-secondary rounded-0" aria-pressed="true" id="getstartedbtn">
                                    REGISTER →
                                </button>
                            </div>
                        </div>
                        <!--Redirect to login-->
                        <div class="d-flex justify-content-center">
                            <p>
                                Already have an account? <a href="/Login/Index" id="signinprompt">Sign in here.</a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </section>

        <footer style="margin-top:-76px" class="p-5 text-white">
            <div class="col-xl-3 col-lg-12 text-xl-start">
                <p class="lead">NetRunner Systems &copy;2023</p>
            </div>
        </footer>

    </div>
</body>
</html>