@model PasswordRepository.Models.RegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <title>Frontend Bootcamp</title>
    <link href="~/Style/StyleSheetRegistration.css" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <button onclick="window.location.href='/Login/Index'" type="button" class="rounded-0 btn btn-outline-secondary" id="loginbtn">LOGIN</button>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="outer">
        <!--Content-->
        <section class="text-light p-5">
            <div class="container d-flex justify-content-center" id="maincontainer">
                <div class="justify-content-center" id="content">
                    <div class="d-flex justify-content-center" id="title" style="display:block; white-space:nowrap; margin-left:auto; margin-right:auto;">
                        <h1 align="center">
                            / REGISTER /
                        </h1>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex justify-content-center col-5 col-md-6 col-xl-4">
                            <h6 align="center">
                                Thank you for joining us! Please register by completing the information below
                            </h6>
                        </div>
                    </div>
                    @using (@Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="registration-form container d-flex justify-content-center" style="text-align:center;">
                            <div class="col-12 d-flex justify-content-center">
                                <div class="form-floating" style="margin-top: 3px;">
                                    @Html.TextBoxFor(Model => Model.EMAIL, new { @class = "form-control rounded-0", size = "100", id = "floatingEmail", type = "email", placeholder = "Email", required = "required", })
                                    <label for="floatingEmail">Email</label>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <div class="form-floating" style="margin-top: 3px;">
                                    @Html.TextBoxFor(Model => Model.USERNAME, new { @class = "form-control rounded-0", size = "100", id = "floatingUsername", placeholder = "Password", required = "required", })
                                    <label for="floatingUsername">Username</label>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <div class="form-floating" style="margin-top: 3px;">
                                    @Html.TextBoxFor(Model => Model.FIRST_NAME, new { @class = "form-control rounded-0", size = "100", id = "floatingFirstName", placeholder = "First Name", required = "required", })
                                    <label for="floatingFirstName">First Name</label>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <div class="form-floating" style="margin-top: 3px;">
                                    @Html.TextBoxFor(Model => Model.LAST_NAME, new { @class = "form-control rounded-0", size = "100", id = "floatingLastName", placeholder = "First Name", required = "required", })
                                    <label for="floatingLastName">Last Name</label>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <div class="form-floating" style="margin-top: 3px;">
                                    @Html.PasswordFor(Model => Model.PASSWORD, new { @class = "form-control rounded-0", size = "100", id = "floatingPassword", placeholder = "Password", required = "required" })
                                    <label for="floatingPassword">Password</label>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <div class="form-floating" style="margin-top: 3px;">
                                    @Html.PasswordFor(Model => Model.REPEAT_PASSWORD, new { @class = "form-control rounded-0", size = "100", id = "floatingRePassword", placeholder = "Re-enter Password", required = "required" })
                                    <label for="floatingRePassword">Re-enter Password</label>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="form-check" style="text-align:left;margin-top:20px;">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" style="text-align: center">
                                <label class="form-check-label" for="exampleCheck1">I agree to the Terms and Conditions</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div style="margin-top:25px" class="d-flex justify-content-center col-xl-5 col-lg-12 mb-2 ">
                                <button class="btn btn-outline-secondary rounded-0" aria-pressed="true" id="getstartedbtn">
                                    REGISTER →
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p>
                                Already have an account? <a href="/Login/Index" id="signinprompt">Sign in here.</a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </section>
        <footer style="margin-top: 40px" class="p-5 text-white">
            <div class="col-xl-3 col-lg-12 text-xl-start">
                <p class="lead">NetRunner Systems &copy;2023</p>
            </div>
        </footer>
</body>
</html>