<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <header>
        <div class="content-wrapper">
            @Html.Partial("_Header")
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @Html.Partial("_Footer")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        //REGISTRATION SHOW PASSWORD
        let eyeiconregister = document.getElementById('eyeicon-register');
        var formregister = document.getElementById('floatingPassword-register');
        var form2register = document.getElementById('floatingRePassword-register');

        eyeiconregister.style.display = "none";

        formregister.addEventListener("focusin", function () {
            eyeiconregister.style.display = "block";
        });

        form2register.addEventListener("focusin", function () {
            eyeiconregister.style.display = "block";
        });

        formregister.addEventListener("focusout", function () {
            if (Event.relatedTarget !== eyeiconregister) {
                eyeiconregister.style.display = "none";
            }
        });
        form2register.addEventListener("focusout", function () {
            if (Event.relatedTarget !== eyeiconregister) {
                eyeiconregister.style.display = "none";
            }
        });

        eyeiconregister.addEventListener("mousedown", function (event) {
            event.preventDefault(); // prevent default action to avoid losing focus
            togglePWregister();
        });

        function togglePWregister() {
            var show = document.getElementById('floatingPassword-register');
            var show2 = document.getElementById('floatingRePassword-register');
            if (show.type == 'password') {
                show.type = 'text';
                show2.type = 'text';
                eyeiconregister.src = "/Elements/eye-slash.svg"
            }
            else {
                show.type = 'password'
                show2.type = 'password';
                eyeiconregister.src = "/Elements/eye.svg"
            }
            show.focus();
        }
    </script>
    <script type="text/javascript">
        //LOGIN SHOW PASSWORD
        let eyeiconlogin = document.getElementById('eyeicon-login');
        var formlogin = document.getElementById('floatingPassword-login');

        eyeiconlogin.style.display = "none";

        formlogin.addEventListener("focusin", function () {
            eyeiconlogin.style.display = "block";
        });

        formlogin.addEventListener("focusout", function () {
            if (Event.relatedTarget !== eyeiconlogin) {
                eyeiconlogin.style.display = "none";
            }
        });

        eyeiconlogin.addEventListener("mousedown", function (event) {
            event.preventDefault(); // prevent default action to avoid losing focus
            togglePWlogin();
        });

        function togglePWlogin() {
            var show = document.getElementById('floatingPassword-login');
            if (show.type == 'password') {
                show.type = 'text';
                eyeiconlogin.src = "/Elements/eye-slash.svg"
            }
            else {
                show.type = 'password'
                eyeiconlogin.src = "/Elements/eye.svg"
            }
            show.focus();
        }
    </script>


    <script type="text/javascript">
        //FIRST TAB GETS SELECTED FUNCTION
        $(function () {
            $('#list-tab a:first-child').tab('show')
        })
    </script>

    @*//PIN TIMER CODE*@
<script type="text/javascript">

        //Checks if Session ID is not null and Session Timedout is false
        //A null Session ID means that there is no user currently logged in
        //While a false timedout session means this code will only run if the user isnt already timedout
        //this prevents the code from running on the PIN Interface page
        if (@Session["ID"] != null || @Session["timedout"] == false || @Session["Status"] == true || @Session["TO"] != -1) {


            //This is the main action code which will be executed on timeout
            //redirects the user to the PIN interface page
            function timeoutAction() {
                //alert("You've been inactive.");
                var url = '@Url.Action("Index", "PINInterface")';
                window.location.href = url;
            }

            //initializes the idleTime counter to 0
            //the idleTimout is determined by the user, this sets the timeout timer limit
            var idleTime = 0;
            //var idleTimeout = 5 * 60 * 1000; // 5 minutes (in milliseconds) For temporary use
            var idleTimeout = @Session["TO"] * 60 * 1000; // PRODUCTION CODE, will be used once the timeout registration is implemented
            //var idleTimeout = 15 * 1000; // 5 minutes (in milliseconds) for TESTING


            //This block of code will be executed on page load
            $(document).ready(function () {
                // Increment the idle time counter every minute
                var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

                // Reset the idle time counter on user activity
                $(this).on('mousemove click keydown scroll', function () {
                    idleTime = 0;
                });

                //timerIncrement counter that increments the idleTime everytime the interval is activated every minute
                function timerIncrement() {
                    idleTime = idleTime + 1;
                    // User has been inactive for idleTimeout minutes, show the pin page and reset the timer
                    if (idleTime * 60000 >= idleTimeout) {
                        clearInterval(idleInterval);
                        timeoutAction();
                    }
                }
            });
        }
</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>  