@model PasswordRepository.Models.PasswordEntryModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <title>Frontend Bootcamp</title>
    <link href="~/Style/StyleSheetDashboard.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=JetBrains+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link nav-link-normal" id="navhome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link nav-link-normal" id="navteam">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link nav-link-normal" id="navcontact">CONTACT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-dropdown" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-transform:uppercase">
                            
                            @*USERNAME DISPlAY FOR THE RESPECTIVE USERID*@
                            @Session["Username"].ToString()
                        
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("LogOut","Login")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="outer">
        <!--Content-->
        <section class="text-light p-5">
            <div class="container d-flex justify-content-center" id="maincontainer">
                <div class="justify-content-center" id="content">
                    <!--Title-->
                    <div class="d-flex justify-content-center" id="title" style="display:block; white-space:nowrap; margin-left:auto; margin-right:auto;">
                        <h1 align="center">
                            / PASSWORD /
                            <br />
                            REPOSITORY
                        </h1>
                    </div>
                    <div class="d-flex justify-content-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-secondary rounded-0" data-bs-toggle="modal" data-bs-target="#exampleModal" id="additembtn">
                            ADD ITEM +
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="ModalLabel" style="margin-top:10px;">ADD NEW ITEM</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" style="margin-top:-10px;">
                                    <!--Form-->
                                    @using (@Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="registration-form container d-flex justify-content-center" style="text-align:center;">
                                            <div class="d-flex justify-content-center w-100">
                                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                                    @Html.TextBoxFor(Model => Model.textbox_PR_TITLE, new { @class = "form-control rounded-0 w-100", id = "floatingTitle", placeholder = "Title", required = "required", })
                                                    <label for="floatingTitle">Title</label>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center w-100">
                                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                                    @Html.TextBoxFor(Model => Model.textbox_PR_EMAIL, new { @class = "form-control rounded-0 w-100", id = "floatingEmail", type = "email", placeholder = "Email", required = "required", })
                                                    <label for="floatingEmail">Email</label>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center w-100">
                                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                                    @Html.TextBoxFor(Model => Model.textbox_PR_USERNAME, new { @class = "form-control rounded-0 w-100", id = "floatingUsername", placeholder = "Password", required = "required", })
                                                    <label for="floatingUsername">Username</label>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center w-100">
                                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                                    @Html.PasswordFor(Model => Model.textbox_PR_PASSWORD, new { @class = "form-control rounded-0 w-100", id = "floatingPassword", placeholder = "Password", required = "required" })
                                                    <label for="floatingPassword">Password</label>
                                                    <span>
                                                        <!--Eye icon-->
                                                        <img src="~/Elements/eye-slash.svg" id="eyeicon" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center w-100">
                                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                                    @Html.TextBoxFor(Model => Model.textbox_PR_URL, new { @class = "form-control rounded-0 w-100", id = "floatingURL", placeholder = "URL", required = "required" })
                                                    <label for="floatingURL">URL</label>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center w-100">
                                                <div class="form-floating" style="margin-top: 10px; width: 410px; height:auto;">
                                                    @Html.TextAreaFor(Model => Model.textbox_PR_NOTES, new { @class = "form-control rounded-0 w-100", rows = "10", id = "floatingNotes", placeholder = "Notes", style = "height:110px", maxlength = "500" })
                                                    <label for="floatingNotes">Notes</label>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                let eyeicon = document.getElementById('eyeicon');
                                                var form = document.getElementById('floatingPassword');
                                                var form2 = document.getElementById('floatingRePassword');

                                                eyeicon.style.display = "none";

                                                form.addEventListener("focusin", function () {
                                                    eyeicon.style.display = "block";
                                                });

                                                form.addEventListener("focusout", function () {
                                                    if (Event.relatedTarget !== eyeicon) {
                                                        eyeicon.style.display = "none";
                                                    }
                                                });

                                                eyeicon.addEventListener("mousedown", function (event) {
                                                    event.preventDefault(); // prevent default action to avoid losing focus
                                                    togglePW();
                                                });

                                                function togglePW() {
                                                    var show = document.getElementById('floatingPassword');
                                                    var show2 = document.getElementById('floatingRePassword');
                                                    if (show.type == 'password') {
                                                        show.type = 'text';
                                                        eyeicon.src = "/Elements/eye.svg"
                                                    }
                                                    else {
                                                        show.type = 'password'
                                                        eyeicon.src = "/Elements/eye-slash.svg"
                                                    }
                                                    show.focus();
                                                }
                                            </script>
                                        </div>
                                    }
                                    <div class="modal-footer" style="margin-top:10px">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Add item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TABLE-->
                <div class="col-10 pt-5">
                    <table id="example" class="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Facebook</td>
                                <td>Prowler</td>
                                <td>---------</td>
                                <td>https://www.facebook.com</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>URL</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

        </section>

        <footer style="margin-top:-76px" class="p-5 text-white">
            <div class="col-xl-3 col-lg-12 text-xl-start">
                <p class="lead">NetRunner Systems &copy;2023</p>
            </div>
        </footer>

    </div>
</body>
</html>