@model PasswordRepository.Models.PasswordEntryModel
@using PasswordRepository.Helpers;
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Style/StyleSheetButtonEditTrash.css" rel="stylesheet">
    <link href="~/Style/StyleSheetDashboard.css" rel="stylesheet">
    <link href="~/Style/StyleSheetGlobal.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66285578cf.js" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=JetBrains+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link nav-link-normal" id="navhome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link nav-link-normal" id="navteam">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link nav-link-normal" id="navcontact">CONTACT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-dropdown" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-transform:uppercase">
                            
                            @*USERNAME DISPlAY FOR THE RESPECTIVE USERID*@
                            @Session["Username"].ToString()
                        
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("TrashboardTEST", "Dashboard")">Trash</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("LogOut", "Login")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="outer">
        <!-- Modal -->
        <div class="modal fade" id="addbutton-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalLabel">ADD NEW ITEM</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--Form-->
                    <div class="modal-body modal-xl" style="margin-top:-10px;">
                        @using (@Html.BeginForm("Entry", "Dashboard", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="registration-form container d-flex justify-content-center" style="text-align:center;">
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%;">
                                        @Html.TextBoxFor(Model => Model.textbox_PR_TITLE, new { @class = "form-control rounded-0 w-100", id = "floatingTitle", placeholder = "Title", required = "required" })
                                        <label for="floatingTitle">Title</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%; ">
                                        @Html.TextBoxFor(Model => Model.textbox_PR_EMAIL, new { @class = "form-control rounded-0 w-100", id = "floatingEmail", type = "email", placeholder = "Email" })
                                        <label for="floatingEmail">Email</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%;">
                                        @Html.TextBoxFor(Model => Model.textbox_PR_USERNAME, new { @class = "form-control rounded-0 w-100", id = "floatingUsername", placeholder = "Username" })
                                        <label for="floatingUsername">Username</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%;">
                                        @Html.PasswordFor(Model => Model.textbox_PR_PASSWORD, new { @class = "form-control rounded-0 w-100", id = "floatingPassword", placeholder = "Password", required = "required" })
                                        <label for="floatingPassword">Password</label>
                                        <span>
                                            <!--Eye icon-->
                                            <img src="~/Elements/eye.svg" id="eyeicon" />
                                        </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%;">
                                        @Html.TextBoxFor(Model => Model.textbox_PR_URL, new { @class = "form-control rounded-0 w-100", id = "floatingURL", placeholder = "URL" })
                                        <label for="floatingURL">URL</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%; height: auto;">
                                        @Html.TextAreaFor(Model => Model.textbox_PR_NOTES, new { @class = "form-control rounded-0 w-100", rows = "10", id = "floatingNotes", placeholder = "Notes", style = "height:110px", maxlength = "500" })
                                        <label for="floatingNotes">Notes</label>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    let eyeicon = document.getElementById('eyeicon');
                                    var form = document.getElementById('floatingPassword');

                                    eyeicon.style.display = "none";

                                    form.addEventListener("focusin", function () {
                                        eyeicon.style.display = "block";
                                    });

                                    form.addEventListener("focusout", function () {
                                        if (Event.relatedTarget !== eyeicon) {
                                            eyeicon.style.display = "none";
                                        }
                                    });

                                    eyeicon.addEventListener("mousedown", function (event) {
                                        event.preventDefault(); // prevent default action to avoid losing focus
                                        togglePW_addmodal();
                                    });

                                    function togglePW_addmodal() {
                                        var show = document.getElementById('floatingPassword');
                                        if (show.type == 'password') {
                                            show.type = 'text';
                                            eyeicon.src = "/Elements/eye-slash.svg"
                                        }
                                        else {
                                            show.type = 'password'
                                            eyeicon.src = "/Elements/eye.svg"
                                        }
                                        show.focus();
                                    }
                                </script>
                            </div>

                            <div class="modal-footer d-flex justify-content-center" style="margin-top:10px">
                                <div class="d-flex justify-content-center">
                                    <div class="d-flex justify-content-center col-5 mb-2 ">
                                        <button class="btn btn-outline-secondary rounded-0" aria-pressed="true" id="addmodalbtn">
                                            ADD +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--Content-->
        <section class="text-light p-5">
            <div class="container d-flex justify-content-center" id="maincontainer">
                <div class="justify-content-center col-12" id="content">
                    <!--Title-->
                    <div class="d-flex justify-content-center col-12" id="title" style="display:block; white-space:nowrap; margin-left:auto; margin-right:auto;">
                        <h2 align="center">
                            / PASSWORD REPOSITORY /
                        </h2>
                    </div>
                    <!--TABLE-->
                    <div class="d-flex justify-content-center" style="margin-top:20px">
                        <div class="row w-75" id="passrepotable">
                            <!--ITEMS-->
                            <div class="col-4" id="table-leftcolumn">
                                <!--Search bar-->
                                <div class="d-flex justify-content-center">
                                    <a style="width:95%">
                                        <div class="input-group" style="margin-top:10px;">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><img id="searchicon" src="~/Elements/searchicon.png" /></span>
                                            <input type="text" class="form-control form-control-search rounded-0" placeholder="SEARCH" aria-label="Username" aria-describedby="basic-addon1" id="searchform">
                                        </div>
                                    </a>
                                </div>
                                <!-- Button trigger modal -->
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-secondary rounded-0" data-bs-toggle="modal" data-bs-target="#addbutton-modal" id="additembtn" style="margin-top:10px;">
                                        ADD ITEM +
                                    </button>
                                </div>
                                <div class="list-group rounded-0 overflow-auto flipped scroller" id="list-tab" role="tablist" style="margin-top:10px; height:500px;">
                                    @{foreach (var PassEntry in Model.Passwords.Where(x => x.UID.Equals((int)Session["ID"]) && x.isTrashed.Equals(false) && x.isActive.Equals(true)))
                                        {
                                            <a class="list-group-item list-group-item-action" id="list-@PassEntry.PID-list" data-bs-toggle="list" href="#list-@PassEntry.PID" role="tab" aria-controls="list-@PassEntry.PID">@PassEntry.PR_TITLE</a>
                                        }
                                    }
                                </div>
                                <script>
                                    $(function () {
                                        $('#list-tab a:first-child').tab('show')
                                    })
                                </script>
                            </div>
                            <!--ITEM DETAILS-->
                            <div class="col-8" id="table-rightcolumn">
                                <div class="tab-content" id="nav-tabContent">
                                    @{foreach (var PassEntry in Model.Passwords.Where(x => x.UID.Equals((int)Session["ID"]) && x.isTrashed.Equals(false) && x.isActive.Equals(true)))
                                        {
                                            var decryptedPassword = Encrypter.DecryptString(PassEntry.PR_PASSWORD);
                                            <!--ITEM 1 DETAILS-->
                                            <div class="tab-pane show" id="list-@PassEntry.PID" role="tabpanel" aria-labelledby="list-@PassEntry.PID-list">
                                                <div class="container">
                                                    <!--TITLE NAME-->
                                                    <div class="mt-3 item-table w-100">
                                                        <h2 class="display-5">
                                                            @PassEntry.PR_TITLE
                                                        </h2>
                                                        <!--USERNAME INPUT-->
                                                        <div class="mt-3 tbl-details">
                                                            <div class="form-floating table-form">
                                                                <p style="margin-bottom:-5px;">Username</p>
                                                                @*<input type="text" readonly class="form-control-plaintext" style="width:100%" id="staticUsername" value="@PassEntry.PR_USERNAME">*@
                                                                @Html.TextBoxFor(Model => Model.textbox_PR_USERNAME, new { @class = "form-control-plaintext", id = "staticUsername", type = "text", @readonly = "readonly", Value = @PassEntry.PR_USERNAME, style = "width:100%" })
                                                            </div>
                                                            <!--EMAIL INPUT-->
                                                            <div class="mt-3 tbl-details">
                                                                <div class="form-floating table-form">
                                                                    <p style="margin-bottom:-5px;">Email</p>
                                                                    @*<input type="email" readonly class="form-control-plaintext" style="width:100%" id="staticEmail" value="@PassEntry.PR_EMAIL">*@
                                                                    @Html.TextBoxFor(Model => Model.textbox_PR_EMAIL, new { @class = "form-control-plaintext", id = "staticEmail", type = "text", @readonly = "readonly", Value = @PassEntry.PR_EMAIL, style = "width:100%" })
                                                                </div>
                                                            </div>
                                                            <!--PASSWORD INPUT-->
                                                            <div class="mt-3 tbl-details">
                                                                <div class="form-floating table-form">
                                                                    <p style="margin-bottom:-5px;">Password</p>
                                                                    @*<input type="password" readonly class="form-control-plaintext" style="width:100%" id="staticPassword" value="@decryptedPassword">*@
                                                                    @Html.PasswordFor(Model => Model.textbox_PR_PASSWORD, new { @class = "form-control-plaintext", id = "staticPassword", type = "password", required = "required", @readonly = "readonly", Value = @decryptedPassword, style = "width:100%" })
                                                                    <span>
                                                                        <!--Eye icon-->
                                                                        <img src="~/Elements/eye-white.svg" id="eyeicon-table" />
                                                                    </span>
                                                                    <!--LUIS-->
                                                                    <!--needs a way to call unique IDs depending on what list is active (for both eyeicon-table and staticPassword)-->
                                                                    <!--rn the ids only applies to the first list-->
                                                                    <script type="text/javascript">
                                                                        let eyeicontable = document.getElementById('eyeicon-table');
                                                                        var formdisplay = document.getElementById('staticPassword');


                                                                        eyeicontable.style.display = "none";

                                                                        formdisplay.addEventListener("mouseenter", function () {
                                                                            eyeicontable.style.display = "block";
                                                                            formdisplay.classList.add("hover");
                                                                        });

                                                                        formdisplay.addEventListener("mouseleave", function () {
                                                                            const isTargetIcon = event.relatedTarget === eyeicontable || eyeicontable.contains(event.relatedTarget);

                                                                            if (!isTargetIcon) {
                                                                                eyeicontable.style.display = "none";
                                                                            }
                                                                        });

                                                                        eyeicontable.addEventListener("mouseenter", function () {
                                                                            formdisplay.classList.add("hover");
                                                                        });

                                                                        eyeicontable.addEventListener("mousedown", function (event) {
                                                                            event.preventDefault(); // prevent default action to avoid losing focus
                                                                            togglePW_table();
                                                                        });

                                                                        function togglePW_table() {
                                                                            var show = document.getElementById('staticPassword');
                                                                            if (show.type == 'password') {
                                                                                //THIS IS FOR THE EDIT BUTTON
                                                                                //document.getElementById('staticPassword').readOnly=false;
                                                                                //document.getElementById('staticPassword').className = "form-control";
                                                                                show.type = 'text';
                                                                                eyeicontable.src = "/Elements/eye-slash-white.svg"
                                                                            }
                                                                            else {
                                                                                show.type = 'password'
                                                                                //THIS IS FOR THE EDIT BUTTON
                                                                                //document.getElementById('staticPassword').readOnly=true;
                                                                                //document.getElementById('staticPassword').className = "form-control-plaintext";
                                                                                eyeicontable.src = "/Elements/eye-white.svg"

                                                                            }
                                                                            show.focus();
                                                                        }
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            <!--URL INPUT-->
                                                            <div class="mt-3 tbl-details">
                                                                <div class="form-floating table-form">
                                                                <p style="margin-bottom:-5px;">URL</p>
                                                                    @*<input type="text" readonly class="form-control-plaintext" style="width:100%" id="staticURL" value="@PassEntry.PR_URL">*@
                                                                    @Html.TextBoxFor(Model => Model.textbox_PR_URL, new { @class = "form-control-plaintext", id = "staticURL", type = "text", @readonly = "readonly", Value = @PassEntry.PR_URL, style = "width:100%" })
                                                                </div>
                                                            </div>
                                                            <!--NOTES INPUT-->
                                                            <!--LUIS-->
                                                            <div class="mt-3 tbl-details">
                                                                <div class="form-floating table-form">
                                                                    <p style="margin-bottom:-5px;">Notes</p>
                                                                    <textarea type="text" style="text-align: left; height: 100px; width: 100%" readonly class="form-control-plaintext" id="staticNotes">@PassEntry.PR_NOTES</textarea>
                                                                    <!--For some reason the html helper doesn't display the "Value = @@PassEntry.PR_NOTES"-->
                                                                    @*@Html.TextAreaFor(Model => Model.textbox_PR_NOTES, new { @class = "form-control-plaintext", id = "staticNotes", @readonly = "readonly", type = "text", Value = @PassEntry.PR_NOTES, style = "width:100%; text-align: left; height: 100px;" })*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--DATE INPUT-->
                                                    <div class="col-12 d-flex justify-content-center">
                                                        <div class="mt-4" style="color:gray; margin-right:60px;">
                                                            <p>Created on @PassEntry.ENTRY_CREATED</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    <nav class="menu">
                                        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                                        <label class="menu-open-button" for="menu-open">
                                            <span class="lines line-1"></span>
                                            <span class="lines line-2"></span>
                                            <span class="lines line-3"></span>
                                        </label>

                                        <a href="#" class="menu-item red"> <i class="fa fa-trash"></i> </a>
                                        <a href="#" class="menu-item green" id="pen-icon"> <i class="fa fa-pen"></i> </a>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="p-5 text-white footer mt-auto">
            <div class="col-xl-3 col-lg-12 text-xl-start">
                <p class="lead">NetRunner Systems &copy;2023</p>
            </div>
        </footer>

    </div>
</body>
</html>