@model PasswordRepository.Models.PasswordEntryModel
@using PasswordRepository.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Trash Bin</title>
    <link href="~/Style/StyleSheetButtonEditTrash.css" rel="stylesheet">
    <link href="~/Style/StyleSheetTrashboard.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_LoadingPage")
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link nav-link-normal" id="navhome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/Contact" class="nav-link" id="navcontact">CONTACT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-dropdown" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-transform:uppercase;color:white;">

                            @*USERNAME DISPlAY FOR THE RESPECTIVE USERID*@
                            @Session["Username"].ToString()

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "PINInterface")">Lock</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Settings")">Settings</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("LogOut", "Login")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


    <div id="outer">
        <!--Content-->
        <section class="text-light p-5">
            <div class="container d-flex justify-content-center" id="maincontainer">
                <div class="justify-content-center" id="content">
                    <!--Title-->
                    <div class="d-flex justify-content-center col-12" id="title" style="display:block; white-space:nowrap; margin-left:auto; margin-right:auto;">
                        <h2 align="center">
                            / TRASH BIN /
                        </h2>
                    </div>
                    <!--TABLE-->
                    <div class="d-flex justify-content-center w-100" style="margin-top:20px">
                        <div class="row w-100" id="passrepotable">
                            <!--ITEMS-->
                            <div class="col-4" id="table-leftcolumn">
                                <!--Search bar-->
                                <div class="d-flex justify-content-center">
                                    <a style="width:95%">
                                        <div class="input-group" style="margin-top:10px;">
                                            <span class="input-group-text rounded-0" id="basic-addon1"><img id="searchicon" src="~/Elements/searchicon.png" /></span>
                                            <input type="text" class="form-control form-control-search rounded-0" placeholder="SEARCH" aria-label="Username" aria-describedby="basic-addon1" id="searchform">
                                        </div>
                                    </a>
                                </div>
                                <script>
                                    //SEARCH FUNCTION SCRIPT
                                    $(document).ready(function () {
                                        $("#searchform").on("keyup", function () {
                                            var value = $(this).val().toLowerCase();
                                            $(".list-group-item").filter(function () {
                                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                                            });
                                        });

                                        //WELCOME PAGE
                                        checkListVisibility(); // Call the function on page load

                                        function checkListVisibility() {
                                            var listItems = $(".list-group-item");
                                            var listWelcome = $("#list-welcome");
                                            var deletebtn = document.getElementById('deleteallbtn')
                                            var restorebtn = document.getElementById('restoreallbtn')

                                            if (listItems.length > 0) {
                                                listWelcome.hide();
                                                deletebtn.classList.remove('disabled');
                                                restorebtn.classList.remove('disabled');
                                            } else {
                                                listWelcome.show();
                                                deletebtn.classList.add('disabled');
                                                restorebtn.classList.add('disabled');
                                            }
                                        }
                                    });
                                </script>
                                <!-- LIST OF USERS -->
                                <div class="list-group rounded-0 overflow-auto flipped scroller" id="list-tab" role="tablist" style="margin-top:10px; height:500px;">
                                    @{foreach (var PassEntry in Model.Passwords.Where(x => x.UID.Equals((int)Session["ID"]) && x.isTrashed.Equals(true) && x.isActive.Equals(true)))
                                        {
                                            <a class="list-group-item list-group-item-action" id="list-@PassEntry.PID-list" data-bs-toggle="list" href="#list-@PassEntry.PID" role="tab" aria-controls="list-@PassEntry.PID">@PassEntry.PR_TITLE</a>
                                        }
                                    }
                                </div>
                                <!-- RESTORE ALL BUTTON -->
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-secondary rounded-0" id="restoreallbtn" style="margin-top: 10px;" onclick="RestoreAllEntry('@Session["ID"]')">
                                        RESTORE ALL
                                    </button>
                                </div>
                                <!-- DELETE ALL BUTTON -->
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-outline-secondary rounded-0" id="deleteallbtn" style="margin-top: 10px; margin-bottom: 10px;" onclick="DeleteAllEntry('@Session["ID"]')">
                                        DELETE ALL
                                    </button>
                                </div>
                            </div>
                            <!--ITEM DETAILS-->
                            <div class="col-8" id="table-rightcolumn">
                                <div class="tab-content" id="nav-tabContent">
                                    <!--DISPLAY IF NO ITEMS-->
                                    <div class="show" id="list-welcome">
                                        <div class="container w-100">
                                            <!--DISPLAY DETAILS-->
                                            <div class="item-table w-100 table-form-title" style="margin-top:270px">
                                                <div class="tbl-details d-flex justify-content-center">
                                                    <h2 class="form-control-title" style="text-align:center; width:900px" id="Title-welcome">
                                                        TRASH IS EMPTY
                                                        <p style="font-size:14px; color:gray">All trashed items will be stored here.</p>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @{foreach (var PassEntry in Model.Passwords.Where(x => x.UID.Equals((int)Session["ID"]) && x.isTrashed.Equals(true) && x.isActive.Equals(true)))
                                        {
                                            //using (@Html.BeginForm("Index", "Login", FormMethod.Post)) { };
                                            var decryptedPassword = Encrypter.DecryptString(PassEntry.PR_PASSWORD);
                                            <!--PER ITEM DETAILS-->
                                            <div class="tab-pane show" id="list-@PassEntry.PID" role="tabpanel" aria-labelledby="list-@PassEntry.PID-list">
                                                <div class="container">
                                                    <!--DETAILS-->
                                                    <div class="mt-3 item-table w-100 table-form-title" style="margin-top:-30px">
                                                        <!--TITLE NAME-->
                                                        <div class="tbl-details">
                                                            <h2>
                                                                <input type="text" minlength="1" maxlength="20" readonly style="width:100%" class="form-control-title" id="Title-@PassEntry.PID.ToString()" value="@PassEntry.PR_TITLE" spellcheck="false">
                                                            </h2>
                                                        </div>
                                                        <!--USERNAME INPUT-->
                                                        <div class="mt-3 tbl-details" id="tbl-username-@PassEntry.PID.ToString()">
                                                            <div class="form-floating table-form">
                                                                <p style="margin-bottom:-2px;">Username</p>
                                                                <input type="text" maxlength="50" readonly class="form-control-plaintext readonly" style="width:100%" id="Username-@PassEntry.PID.ToString()" value="@PassEntry.PR_USERNAME" spellcheck="false">
                                                                <script type="text/javascript">
                                                                //disappear if input is null
                                                                window.addEventListener('load', function () {
                                                                    const inputElement = document.getElementById('Username-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-username-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                    checkInputusername();
                                                                });

                                                                function checkInputusername() {
                                                                    const inputElement = document.getElementById('Username-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-username-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                }
                                                                </script>
                                                            </div>
                                                        </div>
                                                        <!--EMAIL INPUT-->
                                                        <div class="mt-3 tbl-details" id="tbl-email-@PassEntry.PID.ToString()">
                                                            <div class="form-floating table-form">
                                                                <p style="margin-bottom:-2px;">Email</p>
                                                                <input type="email" maxlength="50" readonly class="form-control-plaintext" style="width:100%" id="Email-@PassEntry.PID.ToString()" value="@PassEntry.PR_EMAIL" spellcheck="false">
                                                                <script type="text/javascript">
                                                                //disappear if input is null
                                                                window.addEventListener('load', function () {
                                                                    const inputElement = document.getElementById('Email-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-email-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                    checkInputemail();
                                                                });

                                                                function checkInputemail() {
                                                                    const inputElement = document.getElementById('Email-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-email-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                }
                                                                </script>
                                                            </div>
                                                        </div>
                                                        <!--PASSWORD INPUT-->
                                                        <div class="mt-3 tbl-details" id="tbl-password-@PassEntry.PID.ToString()">
                                                            <div class="form-floating table-form">
                                                                <p style="margin-bottom:-2px;">Password</p>
                                                                <input type="password" maxlength="50" readonly class="form-control-plaintext" style="width:100%" id="Password-@PassEntry.PID.ToString()" value="@decryptedPassword" spellcheck="false">
                                                                <span>
                                                                    <!--Eye icon-->
                                                                    <img src="~/Elements/eye-white.svg" class="eyeiconpassword-@PassEntry.PID" id="eyeiconPassword-@PassEntry.PID" />
                                                                </span>
                                                                <script type="text/javascript">
                                                                //disappear if input is null
                                                                window.addEventListener('load', function () {
                                                                    const inputElement = document.getElementById('Password-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-password-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                    checkInputpassword();
                                                                });

                                                                function checkInputpassword() {
                                                                    const inputElement = document.getElementById('Password-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-password-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                }

                                                                //copy to clipboard and show password function
                                                                function initializeeyeIcon() {
                                                                    let eyeicontbl = document.getElementById('eyeiconPassword-@PassEntry.PID.ToString()');
                                                                    var formdisplay = document.getElementById('Password-@PassEntry.PID.ToString()');

                                                                    // Make sure the elements are not null before accessing their properties
                                                                    if (formdisplay && eyeicontbl) {

                                                                    eyeicontbl.style.display = "block";

                                                                    formdisplay.addEventListener("mouseenter", function () {
                                                                        formdisplay.classList.add("hover");
                                                                    });

                                                                    formdisplay.addEventListener("mouseleave", function () {
                                                                        const isTargetIcon = event.relatedTarget === ccicon || ccicon.contains(event.relatedTarget);

                                                                        if (!isTargetIcon) {
                                                                            ccicon.style.display = "none";
                                                                        }
                                                                    });

                                                                    eyeicontbl.addEventListener("mouseenter", function () {
                                                                        formdisplay.classList.add("hover");
                                                                    });

                                                                    eyeicontbl.addEventListener("mousedown", function (event) {
                                                                        event.preventDefault(); // prevent default action to avoid losing focus
                                                                        toggleshowPW_table();
                                                                    });

                                                                    function toggleshowPW_table() {
                                                                        var show = document.getElementById('Password-@PassEntry.PID.ToString()');
                                                                        if (show.type == 'password') {
                                                                            show.type = 'text';
                                                                            eyeicontbl.src = "/Elements/eye-slash-white.svg"
                                                                        }
                                                                        else {
                                                                            show.type = 'password'
                                                                            eyeicontbl.src = "/Elements/eye-white.svg"

                                                                        }
                                                                        show.focus();
                                                                        }
                                                                    }

                                                                }
                                                                // Call the function after the document has finished loading
                                                                window.addEventListener('load', initializeeyeIcon);
                                                                </script>
                                                            </div>
                                                        </div>
                                                        <!--URL INPUT-->
                                                        <div class="mt-3 tbl-details" id="tbl-url-@PassEntry.PID.ToString()">
                                                            <div class="form-floating table-form">
                                                                <p style="margin-bottom:-2px;">URL</p>
                                                                <input type="text" maxlength="50" readonly class="form-control-plaintext" style="width:100%" id="URL-@PassEntry.PID.ToString()" value="@PassEntry.PR_URL" spellcheck="false">
                                                                <script type="text/javascript">
                                                                //disappear if input is null
                                                                window.addEventListener('load', function () {
                                                                    const inputElement = document.getElementById('URL-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-url-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                    checkInputURL();
                                                                });

                                                                function checkInputURL() {
                                                                    const inputElement = document.getElementById('URL-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-url-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                }
                                                                </script>
                                                            </div>
                                                        </div>
                                                        <!--NOTES INPUT-->
                                                        <div class="mt-3 tbl-details" id="tbl-notes-@PassEntry.PID.ToString()">
                                                            <div class="form-floating table-form">
                                                                <p style="margin-bottom:-2px;">Notes</p>
                                                                <textarea type="text" maxlength="1000" style="text-align: left; height: 100px; width: 100%" readonly class="form-control-plaintext form-control-notes" id=Notes-@PassEntry.PID.ToString() spellcheck="false">@PassEntry.PR_NOTES</textarea>
                                                                <script type="text/javascript">
                                                                //disappear if input is null
                                                                window.addEventListener('load', function () {
                                                                    const inputElement = document.getElementById('Notes-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-notes-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                    checkInputnotes();
                                                                });

                                                                function checkInputnotes() {
                                                                    const inputElement = document.getElementById('Notes-@PassEntry.PID.ToString()');
                                                                    const tblDetail = document.getElementById('tbl-notes-@PassEntry.PID.ToString()')

                                                                    // Check if the value is null or empty
                                                                    if (!inputElement.value.trim()) {
                                                                        tblDetail.style.display = 'none'; // Hide the input element
                                                                    } else {
                                                                        tblDetail.style.display = 'block'; // Show the input element
                                                                    }
                                                                }
                                                                </script>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--DATE INPUT-->
                                                    <div class="col-12 d-flex justify-content-center" style="display: none;">
                                                        <div class="mt-4" style="color: gray; margin-right: 60px;" id="dateinfo-@PassEntry.PID">
                                                            <p>Will be deleted on @PassEntry.EXPIRY_DATE</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <nav class="menu" id="edit-menu-@PassEntry.PID">
                                                    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open-@PassEntry.PID.ToString()" />
                                                    <label class="menu-open-button" for="menu-open-@PassEntry.PID.ToString()">
                                                        <span class="lines line-1"></span>
                                                        <span class="lines line-2"></span>
                                                        <span class="lines line-3"></span>
                                                    </label>
                                                    <a class="menu-item red" onclick="permDeleteEntry('@PassEntry.PID','@PassEntry.PR_TITLE')"> <i class="fa fa-trash"></i> </a>
                                                    <a class="menu-item green" onclick="restoreEntry('@PassEntry.PID','@PassEntry.PR_TITLE')"> <i class="fa fa-undo"></i> </a>
                                                </nav>
                                            </div>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            setTimeout(function () {
                document.body.removeChild(modal);
                loading.style.display = "none";
            }, 700);
        };
    </script>
</body>
</html>

<script type="text/javascript">
    function restoreEntry(passwordID,title) {
        //Confirmation message before restoring entry
        Swal.fire({
            title: 'Restore "'+title+'"?',
            text: "This will restore the item.",
            icon: 'question',
            iconColor: '#2973b9',
            background: '#1a1a1a',
            showCancelButton: true,
            confirmButtonColor: '#70cc72',
            cancelButtonColor: '#fe4365',
            confirmButtonText: 'Confirm'
        }).then((result) => {
            if (result.isConfirmed) {
                //Packages the received variable
                var data = {
                    passwordID: passwordID
                }

                $.ajax({
                    type: "POST",
                    url: "/Dashboard/RestoreEntry",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf8',
                    success: function () {
                    },
                    error: function () {
                    }
                })
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    background: '#1a1a1a',
                    iconColor: '#70cc72',
                    title: '"' + title + '" successfuly restored!',
                    showConfirmButton: false,
                    timer: 2500
                })
                    .then(function () {
                        location.reload(true);
                    }
                    )
            }
        })        
    }

    function permDeleteEntry(passwordID,title) {

        //Confirmation message before permanently deleting entry
        Swal.fire({
            title: 'Permanently delete "'+title+'"?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            iconColor: '#c40f2d',
            background: '#1a1a1a',
            showCancelButton: true,
            confirmButtonColor: '#70cc72',
            cancelButtonColor: '#fe4365',
            confirmButtonText: 'Confirm'
        }).then((result) => {
            if (result.isConfirmed) {
                //Packages the received variable
                var data = {
                    passwordID: passwordID
                }

                $.ajax({
                    type: "POST",
                    url: "/Dashboard/PermDeleteEntry",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf8',
                    success: function () {

                    },
                    error: function () {
                        alert("An error occurred")
                    }
                })

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    iconColor: '#70cc72',
                    background: '#1a1a1a',
                    title: '"' + title + '" permanently deleted!',
                    showConfirmButton: false,
                    timer: 2500
                })
                    .then(function () {
                        location.reload(true);
                    }
                    )
            }
        })        
    }

    function DeleteAllEntry(userID) {

        //Confirmation message before permanently deleting entry
        Swal.fire({
            title: 'Permanently delete all items?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            iconColor: '#c40f2d',
            background: '#1a1a1a',
            showCancelButton: true,
            confirmButtonColor: '#70cc72',
            cancelButtonColor: '#fe4365',
            confirmButtonText: 'Confirm'
        }).then((result) => {
            if (result.isConfirmed) {
                var data = {
                    userID: userID
                }

                $.ajax({
                    type: "POST",
                    url: "/Dashboard/DeleteAllEntry",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf8',
                    success: function () {
                    },
                    error: function () {
                        alert("An error occurred (Javascript)")
                    }
                })
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    iconColor: '#70cc72',
                    background: '#1a1a1a',
                    title: 'All items permanently deleted!',
                    showConfirmButton: false,
                    timer: 2500
                })
                    .then(function () {
                        location.reload(true);
                    }
                    )
                }
            })
    }
    function RestoreAllEntry(userID) {

        //Confirmation message before permanently deleting entry
        Swal.fire({
            title: 'Restore passwords?',
            text: "Every deleted passwords will be restored!",
            icon: 'warning',
            iconColor: '#c40f2d',
            background: '#1a1a1a',
            showCancelButton: true,
            confirmButtonColor: '#70cc72',
            cancelButtonColor: '#fe4365',
            confirmButtonText: 'Confirm'
        }).then((result) => {
            if (result.isConfirmed) {
                var data = {
                    userID: userID
                }

                $.ajax({
                    type: "POST",
                    url: "/Dashboard/RestoreAllEntry",
                    dataType: "JSON",
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf8',
                    success: function () {
                    },
                    error: function () {
                        alert("An error occurred (Javascript)")
                    }
                })
                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    iconColor: '#70cc72',
                    background: '#1a1a1a',
                    title: 'Passwords are successfully restored!',
                    showConfirmButton: false,
                    timer: 2500
                })
                    .then(function () {
                        location.reload(true);
                    }
                    )
            }
        })
    }

</script>