@model PasswordRepository.Models.ContactViewModel

@{
    Layout = null;

}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <!--CSS-->
    <link href="~/Style/StyleSheetGlobal.css" rel="stylesheet">
    <link href="~/Style/StyleSheetSweetAlert.css" rel="stylesheet">
    <link href="~/Style/StyleSheetContact.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66285578cf.js" crossorigin="anonymous"></script>
    <!-- Include a required theme -->
    <link rel="stylesheet" href="@Html.Raw("@")sweetalert2/theme-dark/dark.css">
    <script src="sweetalert2/dist/sweetalert2.min.js"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=JetBrains+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    @Html.Partial("_LoadingPage")
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link" id="navhome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/Contact" class="nav-link" id="navcontact">CONTACT</a>
                    </li>
                    @{
                        if (Session["ID"] != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-link-dropdown" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-transform:uppercase;">

                                    @*USERNAME DISPlAY FOR THE RESPECTIVE USERID*@
                                    @Session["Username"].ToString()

                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>

                                    @if ((bool)Session["Access"] == false)
                                    {
                                        <li><a class="dropdown-item" href="@Url.Action("Trashboard", "Dashboard")">Trash</a></li>
                                    }
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "PINInterface")">Lock</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Settings")">Settings</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("LogOut", "Login")">Logout</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" id="navlogin">
                                <button onclick="window.location.href='/Login/Index'" type="button" class="rounded-0 btn btn-outline-secondary" id="loginbtn">LOGIN</button>
                            </li>
                        }
                    }
                </ul>
            </div>

        </div>
    </nav>
    <!--VIEWBAG-->
    @{
        if (ViewBag.SuccessMessage != null)
        {
            <script>
            Swal.fire({
                position: 'top',
                icon: 'success',
                background: '#1a1a1a',
                iconColor: '#70cc72',
                title: '@ViewBag.SuccessMessage',
                showConfirmButton: false,
                timer: 2500
            })
            </script>
        }
        if (ViewBag.FailedMessage != null)
        {
            <script>
            Swal.fire({
                position: 'top',
                icon: 'error',
                iconColor: '#c40f2d',
                background: '#1a1a1a',
                title: '@ViewBag.FailedMessage',
                showConfirmButton: false,
                timer: 2500
            })
            </script>
        }
    }
    <div id="outer">
        <!-- Modal for SENDING MESSAGE -->
        <div class="modal fade" id="addbutton-modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalLabel">CONTACT FORM</h1>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--Form-->
                    <div class="modal-body modal-xl" style="margin-top:-10px;">
                        @using (@Html.BeginForm("SendEmail", "Home", FormMethod.Post))
                        {
                            <div class="registration-form container d-flex justify-content-center" style="text-align:center;">
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%;">
                                        @Html.TextBoxFor(Model => Model.Name, new { @class = "form-control rounded-0 w-100", id = "floatingName", placeholder = "Name", required = "required" })
                                        <label for="floatingName">Name</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%; ">
                                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control rounded-0 w-100", id = "floatingEmail", type = "email", placeholder = "Email" })
                                        <label for="floatingEmail">Email</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%;">
                                        @Html.TextBoxFor(Model => Model.Subject, new { @class = "form-control rounded-0 w-100", id = "floatingSubject", placeholder = "Subject" })
                                        <label for="floatingSubject">Subject</label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center w-100">
                                    <div class="form-floating" style="margin-top: 10px; width: 90%; height: auto;">
                                        @Html.TextAreaFor(Model => Model.Message, new { @class = "form-control rounded-0 w-100", rows = "10", id = "floatingNotes", placeholder = "Notes", style = "height:110px", maxlength = "500" })
                                        <label for="floatingNotes">Message</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center" style="margin-top:10px">
                                <div class="d-flex justify-content-center">
                                    <div class="d-flex justify-content-center col-5 mb-2 ">
                                        <button class="btn btn-outline-secondary rounded-0" aria-pressed="true" id="addmodalbtn" button type="submit">
                                            SEND →
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                        <template id="my-template">
                            <swal-title>
                                Save changes to "Untitled 1" before closing?
                            </swal-title>
                            <swal-icon type="warning" color="red"></swal-icon>
                            <swal-button type="confirm">
                                Save As
                            </swal-button>
                            <swal-button type="cancel">
                                Cancel
                            </swal-button>
                            <swal-button type="deny">
                                Close without Saving
                            </swal-button>
                            <swal-param name="allowEscapeKey" value="false" />
                            <swal-param name="customClass"
                                        value='{ "popup": "my-popup" }' />
                            <swal-function-param name="didOpen"
                                                 value="popup => console.log(popup)" />
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <!--Content-->
        <section class=" text-light p-5 text-center text-xxl-start">
            <div class="container" id="maincontainer">
                <div class="d-lg-flex row justify-content-end" style=" height:auto" id="content">
                    <div class="col-md-6 d-none d-xl-block" id="imgdiv">
                        <img class="img-fluid overlay-text" id="img" src="~/Elements/contactpageelement.png" alt="">
                    </div>
                    <div class="text-xl-start col-lg-12 col-xl-6" id="title">

                        <h1>
                            /ABOUT/
                        </h1>
                        <p align="justify" class="paragraph">
                            Welcome to NetRunners, a team of passionate software developers dedicated to building innovative solutions for businesses of all sizes.

                            <br /><br />

                            We met in college while pursuing degrees in computer engineering and quickly bonded over our shared love of programming and technology. We always stayed in touch and continued to collaborate on projects in our free time. In 2023, we decided to join forces and officially form NetRunner Systems.
                        </p>
                        <br />
                        <h1>
                            /CONTACT/
                        </h1>
                        <p align="justify" class="paragraph">
                            Thank you for your interest in NetRunners! We're excited to hear from you and would be happy to answer any questions you have or discuss potential projects. You can also fill out the contact form by clicking the ‘Contact Us’ button below, and we'll get back to you as soon as possible.
                            <br /><br />
                        <p style="font-size:16px;">
                            Email: <a style="color: #4ca1a5;">netrunners.dev@gmail.com</a><br />
                            Phone: <a style="color: #9e215e; ">(123) 456-7890</a><br>
                        </p>
                        <div class="d-flex justify-content-center">
                            <button style="margin-top:30px" type="button" class="btn btn-outline-secondary rounded-0" id="getstartedbtn" data-bs-toggle="modal" data-bs-target="#addbutton-modal">
                                CONTACT US →
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <footer style="margin-top:-40px;" class="p-5 text-white d-flex justify-content-end">
            <div class="d-flex justify-content-end col-xl-3 col-lg-12 text-xl-start">
                <p class="lead">NetRunner Systems &copy;2023</p>
            </div>
        </footer>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            setTimeout(function () {
                document.body.removeChild(modal);
                loading.style.display = "none";
            }, 500);
        };
    </script>
</body>
</html>