@model PasswordRepository.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Login</title>
    <link href="~/Style/StyleSheetLogin.css" rel="stylesheet">
</head>
<body>
    @Html.Partial("_LoadingPage")
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link" id="navhome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/Contact" class="nav-link" id="navcontact">CONTACT</a>
                    </li>
                    <li class="nav-item" id="navlogin">
                        <button onclick="window.location.href='/Login/Index'" type="button" class="rounded-0 btn btn-outline-secondary" disabled id="loginbtn">LOGIN</button>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    @{
        if (ViewBag.ErrorMessage != null)
        {
            <script>
                Swal.fire({
                    position: 'top',
                    icon: 'error',
                    iconColor: '#c40f2d',
                    background: '#1a1a1a',
                    title: '@ViewBag.ErrorMessage',
                    showConfirmButton: false,
                    timer: 2500
                })
            </script>
        }
        if (ViewBag.Message != null)
        {
            <script>
                Swal.fire({
                    position: 'top',
                    icon: 'success',
                    background: '#1a1a1a',
                    iconColor: '#70cc72',
                    title: '@ViewBag.Message',
                    showConfirmButton: false,
                    timer: 2500
                })
            </script>
        }
    }
    <div id="outer">
        <!--Content-->
        <section class="text-light p-5 d-flex justify-content-center">
            <div class="container d-flex justify-content-center" style="margin-top:80px;" id="maincontainer">
                <div class="justify-content-center" id="content">
                    <!--Title-->
                    <div class="d-flex justify-content-center" id="title" style="display:block; white-space:nowrap; margin-left:auto; margin-right:auto;">
                        <h1 align="center">
                            / LOGIN /
                        </h1>
                    </div>
                    <!--Form-->
                    @using (@Html.BeginForm("ValidateLogin", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="registration-form container d-flex justify-content-center" style="text-align:center;">
                            <div class="d-flex justify-content-center w-100">
                                <div class="form-floating" style="margin-top: 20px; width:410px;">
                                    @Html.TextBoxFor(Model => Model.textbox_LOGINEMAILUSER, new { @class = "form-control rounded-0 w-100", id = "floatingEmailUser", placeholder = "Email/Username", style = "margin:auto", required = "required", })
                                    <label for="floatingPassword">Email/Username</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center w-100">
                                <div class="form-floating" style="margin-top: 10px; width: 410px;">
                                    @Html.PasswordFor(Model => Model.textbox_LOGINPASSWORD, new { @class = "form-control rounded-0 w-100", id = "floatingPassword-login", placeholder = "Password", style = "margin:auto", required = "required" })
                                    <!--JASON! EDIT FORMAT DESIGN-->
                                    <label for="floatingPassword-login">Password</label>
                                    <span>
                                        <!--<i class="bi bi-eye-slash" id="eyeicon" onclick="togglePW()"></i>-->
                                        <img src="~/Elements/eye.svg" id="eyeicon-login" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Login button-->
                        <div class="d-flex justify-content-center">
                            <div style="margin-top:25px" class="d-flex justify-content-center col-xl-5 col-lg-12 mb-2 ">
                                <button class="btn btn-outline-secondary rounded-0" aria-pressed="true" id="getstartedbtn">
                                    LOGIN →
                                </button>
                            </div>
                        </div>
                    }
                    <!--Redirect to registration-->
                    <div class="d-flex justify-content-center">
                        <p>
                            Don't have an account yet? <a href="/Registration/Index" id="signinprompt">Sign up here.</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        window.onload = function () {
            setTimeout(function () {
                document.body.removeChild(modal);
                loading.style.display = "none";
            }, 0);
        };
    </script>
</body>
</html>