@model PasswordRepository.Models.PasswordEntryModel
@using PasswordRepository.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Home</title>
    <link href="~/Style/StyleSheetButtonEditTrash.css" rel="stylesheet">
    <link href="~/Style/StyleSheetSettings.css" rel="stylesheet">
    <link href="~/Style/StyleSheetRangeInput.css" rel="stylesheet">

</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container" id="navcontainer">
            <!--Navbar Logo-->
            <a href="/Home/Index" class="navbar-brand">
                <img src="~/Elements/ICElogo200pixel.png" width="150" height="67" alt="">
            </a>
            <!--Navbar Hamburger Menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Navbar Items-->
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/Home/Index" class="nav-link nav-link-normal" id="navhome">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link nav-link-normal" id="navteam">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link nav-link-normal" id="navcontact">CONTACT</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-dropdown" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-transform:uppercase">

                            @*USERNAME DISPlAY FOR THE RESPECTIVE USERID*@
                            User

                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="@Url.Action("Trashboard", "Dashboard")">Trash</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "PINInterface")">Lock</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Settings")">Settings</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("LogOut", "Login")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div id="outer">
        <!--Content-->
        <!--USER DETAILS MODULE-->
        <section class="text-light p-3 d-flex justify-content-center">
            <div class="container d-flex justify-content-center" id="maincontainer" style="margin-top:30px;">
                <!--Title-->
                <div class="mb-2 d-flex justify-content-center col-12 content" id="title" style="display:block; white-space:nowrap; margin-left:auto; margin-right:auto;">
                    <h2 style="font-family:'JetBrains Mono'" align="center">
                        / SETTINGS /
                    </h2>
                </div>
                <div class="justify-content-center" id="passrepotable">
                    <!--Form-->
                    @*@using (@Html.BeginForm("PinValidate", "PINInterface", FormMethod.Post))*@
                    @*@Html.AntiForgeryToken()*@
                    <!--ITEM 1 DETAILS-->
                    <div class="container d-flex justify-content-center">
                        <div class="mt-3 item-table table-form-title" style="margin-top:-30px; width:80%;">
                            <!--TITLE NAME-->
                            <div class="tbl-details" style="text-align:center">
                                <h2 style="font-weight:400">
                                    User Details
                                </h2>
                                <span>
                                    <!--Eye icon-->
                                    <img src="~/Elements/edit.svg" class="editicon" id="editicon" />
                                </span>
                            </div>
                            <div class="d-flex justify-content-left w-100">
                                <!--FIRSTNAME INPUT-->
                                <div class="mt-3 tbl-details w-100">
                                    <div class="form-floating table-form">
                                        <p style="margin-bottom:-2px;">First Name</p>
                                        <input type="text" maxlength="50" readonly class="form-control-plaintext form-control-name readonly" style="width:100%" id="Username" spellcheck="false" value="ThisIsATestFName">
                                    </div>
                                </div>
                                <!--LASTNAME INPUT-->
                                <div class="mt-3 tbl-details w-100">
                                    <div class="form-floating table-form">
                                        <p style="margin-bottom:-2px; margin-left:11px;">Last Name</p>
                                        <input type="text" maxlength="50" readonly class="form-control-plaintext form-control-name readonly" style="width:100%; margin-left:11px;" id="Username" spellcheck="false" value="ThisIsATestLName">
                                    </div>
                                </div>
                            </div>
                            <!--USERNAME INPUT-->
                            <div class="mt-3 tbl-details">
                                <div class="form-floating table-form">
                                    <p style="margin-bottom:-2px;">Username</p>
                                    <input type="text" maxlength="50" readonly class="form-control-plaintext readonly" style="width:100%" id="Username" spellcheck="false" value="ThisIsATestUsername">
                                </div>
                            </div>
                            <!--EMAIL INPUT-->
                            <div class="mt-3 tbl-details">
                                <div class="form-floating table-form">
                                    <p style="margin-bottom:-2px;">Email</p>
                                    <input type="email" readonly class="form-control-plaintext" style="width:100%" id="Email" spellcheck="false" value="ThisIsATestEmail">
                                </div>
                            </div>
                            <!--PASSWORD INPUT-->
                            <div class="mt-3 tbl-details">
                                <div class="form-floating table-form">
                                    <p style="margin-bottom:-2px;">Password</p>
                                    <input type="password" readonly class="form-control-plaintext" style="width:100%" id="Password" spellcheck="false" value="ThisIsATest">
                                    <span>
                                        <!--Eye icon-->
                                        <img src="~/Elements/eye-white.svg" class="eyeiconPassword" id="eyeiconPassword" />
                                    </span>
                                    <script type="text/javascript">
                                        //copy to clipboard and show password function
                                        function initializeCCIcon() {
                                            let eyeicontbl = document.getElementById('eyeiconPassword');
                                            var formdisplay = document.getElementById('Password');

                                            // Make sure the elements are not null before accessing their properties
                                            if (formdisplay && eyeicontbl) {

                                                eyeicontbl.style.display = "block";

                                                eyeicontbl.addEventListener("mouseenter", function () {
                                                    formdisplay.classList.add("hover");
                                                });

                                                eyeicontbl.addEventListener("mousedown", function (event) {
                                                    event.preventDefault(); // prevent default action to avoid losing focus
                                                    toggleshowPW_table();
                                                });

                                                function toggleshowPW_table() {
                                                    var show = document.getElementById('Password');
                                                    if (show.type == 'password') {
                                                        show.type = 'text';
                                                        eyeicontbl.src = "/Elements/eye-slash-white.svg"
                                                    }
                                                    else {
                                                        show.type = 'password'
                                                        eyeicontbl.src = "/Elements/eye-white.svg"

                                                    }
                                                    show.focus();
                                                }
                                            }

                                        }
                                        // Call the function after the document has finished loading
                                        window.addEventListener('load', initializeCCIcon);
                                    </script>
                                </div>
                            </div>
                            <!--DATE INPUT-->
                            <div class="col-12 d-flex justify-content-center" style="display:none;">
                                <div class="mt-4" style="color:gray;" id="dateinfo">
                                    <p>Created on</p>
                                </div>
                            </div>
                            <!--Logout button-->
                            <div class="d-flex justify-content-center" style="margin-bottom:20px;">
                                <div style="margin-top:25px" class="d-flex justify-content-center col-xl-5 col-lg-12 ">
                                    <button class="btn btn-outline-secondary rounded-0" aria-pressed="true" id="mainbtn">
                                        LOGOUT
                                    </button>
                                </div>
                            </div>
                            <!--Redirect to registration-->
                            <div class="d-flex justify-content-center" style="margin-bottom:30px; font-size:15px;">
                                <p>
                                    <a href="/Registration/Index" id="signinprompt"><u>Deactivate Account</u></a>
                                </p>
                            </div>
                        </div>
                        <!--CONFIRM AND CANCEL BTNS FOR DETAILS-->
                        @*<div class="col-12 d-flex justify-content-center" style="margin-right:60px;">
                            <div class="mt-4 mb-4" style="color:gray; margin-right:60px; display:none;" id="editbtns-@PassEntry.PID">
                                <button class="btn btn-outline-secondary rounded-0" onclick="updateEntry('@PassEntry.PID','@PassEntry.PID.ToString()')" style="margin-right:8px;" aria-pressed="true" id="editacceptbtn">
                                    CONFIRM
                                </button>
                                <button class="btn btn-outline-secondary rounded-0" onclick="toggleEdit('@PassEntry.PID'); resetform('@PassEntry.PID','@PassEntry.PR_TITLE','@PassEntry.PR_USERNAME','@PassEntry.PR_EMAIL','@decryptedPassword','@PassEntry.PR_URL','@PassEntry.PR_NOTES')" aria-pressed="true" id="editcancelbtn">
                                    CANCEL
                                </button>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </section>

        <!--ICELOCK MODULE-->
        <section class="text-light p-2 d-flex justify-content-center">
            <div class="container d-flex justify-content-center" id="maincontainer" style="margin-top:10px;">
                <div class="justify-content-center" id="passrepotable">
                    <!--Form-->
                    @*@using (@Html.BeginForm("PinValidate", "PINInterface", FormMethod.Post))*@
                    @*@Html.AntiForgeryToken()*@
                    <!--ITEM 1 DETAILS-->
                    <div class="container d-flex justify-content-center">
                        <div class="mt-3 item-table table-form-title" style="margin-top:-30px; width:80%;">
                            <!--ICELOCK-->
                            <!--TITLE NAME-->
                            <div class="mt-3 tbl-details" style="text-align:center">
                                <h2 style="font-weight:400">
                                    ICELock™ Options
                                </h2>
                                <span>
                                    <!--Eye icon-->
                                    <img src="~/Elements/gearicon.svg" class="gearicon" id="gearicon" />
                                </span>
                            </div>
                            <!--PIN INPUT-->
                            <div class="mt-4 col-12 d-flex justify-content-center">
                                <div class="tbl-details" style="width:80%;">
                                    <div class="form-floating table-form" style="align-content: center">
                                        <p style="margin-bottom:-2px;">PIN</p>
                                        <input type="password" readonly class="form-control-plaintext" style="width:100%" id="PIN" spellcheck="false" value="1234">
                                        <span>
                                            <!--Eye icon-->
                                            <img src="~/Elements/eye-white.svg" class="eyeiconPIN" id="eyeiconPIN" />
                                        </span>
                                        <script type="text/javascript">
                                            //copy to clipboard and show password function
                                            function initializeCCIcon() {
                                                let eyeicontbl = document.getElementById('eyeiconPIN');
                                                var formdisplay = document.getElementById('PIN');

                                                // Make sure the elements are not null before accessing their properties
                                                if (formdisplay && eyeicontbl) {

                                                    eyeicontbl.style.display = "block";

                                                    eyeicontbl.addEventListener("mouseenter", function () {
                                                        formdisplay.classList.add("hover");
                                                    });

                                                    eyeicontbl.addEventListener("mousedown", function (event) {
                                                        event.preventDefault(); // prevent default action to avoid losing focus
                                                        toggleshowPW_table();
                                                    });

                                                    function toggleshowPW_table() {
                                                        var showPIN = document.getElementById('PIN');
                                                        var showREPIN = document.getElementById('RepeatPIN');
                                                        if (showPIN.type == 'password') {
                                                            showPIN.type = 'text';
                                                            showREPIN.type = 'text';
                                                            eyeicontbl.src = "/Elements/eye-slash-white.svg"
                                                        }
                                                        else {
                                                            showPIN.type = 'password'
                                                            showREPIN.type = 'password';
                                                            eyeicontbl.src = "/Elements/eye-white.svg"

                                                        }
                                                        showPIN.focus();
                                                    }
                                                }

                                            }
                                            // Call the function after the document has finished loading
                                            window.addEventListener('load', initializeCCIcon);
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <!--REPEAT PIN SHOWS ONLY ON EDIT-->
                            <div class="mt-2 col-12 d-flex justify-content-center hidden">
                                <div class="tbl-details" style="width:80%;">
                                    <div class="form-floating table-form" style="align-content: center">
                                        <p style="margin-bottom:-2px;">REPEAT PIN</p>
                                        <input type="password" readonly class="form-control-plaintext" style="width:100%" id="RepeatPIN" spellcheck="false" value="1234">
                                    </div>
                                </div>
                            </div>
                            <!--ICELock instruction-->
                            <div class="mt-5 d-flex justify-content-center" style="margin-bottom:-30px;">
                                <div class="col-12">
                                    <p align="center" style="font-size:20px;">
                                        Idle timeout period.
                                    </p>
                                </div>
                            </div>
                            <!--ICELock details-->
                            <div class="mt-4 d-flex justify-content-center" style="margin-bottom:-30px;">
                                <div class="d-flex justify-content-center" style="width:80%;">
                                    <div class="sub">
                                        Duration:
                                    </div>
                                    <div class="value w-50">
                                        1
                                    </div>
                                    <div class="min w-25">
                                        min(s)
                                    </div>
                                </div>
                            </div>
                            <!--ICELock slider-->
                            <div class="col-12 d-flex justify-content-center" style="margin-bottom:60px">
                                <input disabled type="range" min="1" max="30" step="1" value="5" id="timeSlider">
                            </div>
                            <script type="text/javascript">
                                //range selector
                                window.onload = function () {
                                    var initialValue = document.querySelector('input[type="range"]')
                                    var target = document.querySelector('.value');
                                    target.innerHTML = initialValue.value;
                                }

                                var elem = document.querySelector('input[type="range"]');
                                rangeValue = function () {
                                    var newValue = elem.value;
                                    var target = document.querySelector('.value');
                                    target.innerHTML = newValue;
                                }
                                elem.addEventListener("input", rangeValue);
                            </script>
                        </div>
                        <!--CONFIRM AND CANCEL BTNS FOR ICELOCK-->
                        @*<div class="col-12 d-flex justify-content-center" style="margin-right:60px;">
                            <div class="mt-4 mb-4" style="color:gray; margin-right:60px; display:none;" id="editbtns-@PassEntry.PID">
                                <button class="btn btn-outline-secondary rounded-0" onclick="" style="margin-right:8px;" aria-pressed="true" id="editacceptbtn">
                                    CONFIRM
                                </button>
                                <button class="btn btn-outline-secondary rounded-0" onclick="" aria-pressed="true" id="editcancelbtn">
                                    CANCEL
                                </button>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

<script type="text/javascript">
    function resetform(PID, Title, Username, Email, Password, URL, Notes) {
        document.getElementById('Title-' + PID).value = Title;
        document.getElementById('Username-' + PID).value = Username;
        document.getElementById('Email-' + PID).value = Email;
        document.getElementById('Password-' + PID).value = Password;
        document.getElementById('URL-' + PID).value = URL;
        document.getElementById('Notes-' + PID).value = Notes;
    }

    function toggleEdit(PID) {
    var itemTITLE = document.getElementById('Title-' + PID);
    var itemUN = document.getElementById('Username-' + PID);
    var itemPW = document.getElementById('Password-' + PID);
    var itemEMAIL = document.getElementById('Email-' + PID);
    var itemURL = document.getElementById('URL-' + PID);
    var itemNOTES = document.getElementById('Notes-' + PID);
    var editicon = document.getElementById('edit-menu-' + PID);
    var editbtns = document.getElementById('editbtns-' + PID);
    var dateinfo = document.getElementById('dateinfo-' + PID);
    //toggle
    if (itemUN.classList == 'form-control-plaintext readonly') {
        //REMOVE MENU ICONS
        editicon.style.display = "none";
        dateinfo.style.display = "none";
        //ADD CONFIRM AND CANCEL BUTTONS
        editbtns.style.display = "block";
        //ITEM TITLE
        itemTITLE.readOnly = false;
        itemTITLE.className = "form-control-edit";
        //ITEM UN
        itemUN.readOnly = false;
        itemUN.className = "form-control-edit";
        //ITEM PW
        itemPW.readOnly=false;
        itemPW.className = "form-control-edit";
        itemPW.type = 'password';
        //ITEM EMAIL
        itemEMAIL.readOnly = false;
        itemEMAIL.className = "form-control-edit";
        //ITEM URL
        itemURL.readOnly = false;
        itemURL.className = "form-control-edit";
        //ITEM NOTES
        itemNOTES.readOnly = false;
        itemNOTES.className = "form-control-notes-edit form-control-edit";
    }
    else {
        //ADD MENU ICONS
        editicon.style.display = "block";
        dateinfo.style.display = "block";
        //REMOVE CONFIRM AND CANCEL BUTTONS
        editbtns.style.display = "none";
        //ITEM TITLE
        itemTITLE.readOnly = true;
        itemTITLE.className = "form-control-plaintext form-control-title";
        //ITEM UN
        itemUN.readOnly = true;
        itemUN.className = "form-control-plaintext readonly";
        //ITEM PW
        itemPW.readOnly = true;
        itemPW.className = "form-control-plaintext";
        itemPW.type = 'password';
        //ITEM EMAIL
        itemEMAIL.readOnly = true;
        itemEMAIL.className = "form-control-plaintext";
        //itemEMAIL.value = Email;
        //ITEM URL
        itemURL.readOnly = true;
        itemURL.className = "form-control-plaintext";
        //ITEM NOTES
        itemNOTES.readOnly = true;
        itemNOTES.className = "form-control-plaintext form-control-notes";
    }
}
</script>

<!--LUIS-->
<script type="text/javascript">

    //Function for deleting given entry
    function deleteEntry(passwordID) {

        //Confirmation message before deleting entry
        if (confirm("Are you sure you want to delete this entry?")) {

            //Packages the received variable
            var data = {
                passwordID: passwordID
            }

            //Ajax function to prepare data to be sent to the controller
            $.ajax({
                type: "POST",
                url: "/Dashboard/DeleteEntry",
                dataType: "JSON",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf8',
                success: function (res) {
                    alert(res.msg)
                    location.reload(true);
                },
                error: function () {
                    alert("An error occurred (Javascript)")
                }
            })

        }

    }

    //Function for updating given entry
    function updateEntry(passwordID, passwordIDstring) {

        //Sets variables to corresponding textboxes
        var pwID = passwordID;
        var pwTitle = $('#Title-' + passwordIDstring).val();
        var pwEmail = $('#Email-' + passwordIDstring).val();
        var pwUname = $('#Username-' + passwordIDstring).val();
        var pwPassword = $('#Password-' + passwordIDstring).val();
        var pwUrl = $('#URL-' + passwordIDstring).val();
        var pwNotes = $('#Notes-' + passwordIDstring).val()

        //Packages the variables
        var data = {
            passwordID: pwID,
            passwordTitle: pwTitle,
            passwordEmail: pwEmail,
            passwordUname: pwUname,
            passwordPassword: pwPassword,
            passwordURL: pwUrl,
            passwordNotes: pwNotes
        }

        //Ajax function to prepare data to be sent to the controller
        $.ajax({
            type: "POST",
            url: "/Dashboard/UpdateEntry",
            dataType: "JSON",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf8',
            success: function (res) {
                alert(res.msg)
                location.reload(true);
            },
            error: function () {
                alert("An error occurred")
            }
        })
    }

</script>
